.add-todo{
    display: flex;
    flex-direction: column;
}

.add-todo__input_title{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 23px;
    padding: 15px;
    border-radius: 5px;
}

.add-todo__input_description{
    font-size: 18px;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0px 20px 0px;
    height: 100px;
}